* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(white, whitesmoke);
}

.site-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0 gray;
    margin-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

nav {
    margin-left: 30px;
}

.signin {
    margin-left: 45px;
}

.signin ul {
    list-style: none;
    display: flex;
}

.signin a {
    text-decoration: none;
    padding: 18px;
    color: gray;
    font-size: 16px;
    text-transform: capitalize;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 18px;
    color: gray;
    font-size: 16px;
    text-transform: capitalize;
}

nav a:hover,
.signin a:hover {
    color: snow;
    background-color: black;
    box-shadow: 0 0 15px 0px gray;
}

.signin a:hover {
    color: snow;
    background-color: black;
    box-shadow: 0 0 15px 0px gray;
}

.searchfield {
    margin-left: 30px;
    position: static;
    padding: 15px 10px 15px 20px;
    width: 200px;
    color: #525252;
    font-size: 14px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ffffff 0%,
            #464747 #f9f9f9 100%);
    transition: 0.4s ease;
    outline: none;
}

.searchfield:focus,
.searchfield:hover {
    /* border: 1px solid #464747; */
    box-shadow: 0 0 5px 0 gray;
}

.page-content {
    height: 900px;
    background-color: white;
}

.intro {
    margin-top: 50px;
    margin-left: 50px;
    width: 650px;
    color: gray;
}

p {
    color: #525252;
    font-size: 16px;
}

.intro h1 {
    border-bottom: 1px solid gray;
    width: 160px;
    margin-bottom: 30px;
    padding: 15px;
}

.intro p {
    line-height: 1.5;
}

.product-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px;
}

.product-card {
    display: inline-block;
    border: 0.5px solid gray;
    padding: 15px;
    margin: 10px;
    height: 450px;
    border-radius: 5px;
}

.product-card:hover {
    box-shadow: 0 0 10px 0 gray;
}

.product-card h2 {
    margin: 30px 0 15px;
}

.product-card a {
    color: black;
    text-decoration: none;
}

.product-card img {
    width: 100%;
}

.product-card p {
    line-height: 1.5;
}

.original-price {
    text-transform: uppercase;
}

.current-price {
    font-weight: bold;
    text-decoration: underline;
}

.saving {
    color: green;
}

.product-card .buy-button {
    float: right;
    border-radius: 25px 0;
    padding: 15px;
    font-family: cursive;
    color: white;
    background-color: black;
    margin-top: 10px;
    height: 15px;
    width: 40px;
    position: relative;

}

.product-card .buy-button:hover {
    background-color: dodgerblue;
    color: white;
    box-shadow: 0 0 10px 0 black;
}