* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 20px;
    width: 220px;
}

fieldset {
    /* border: 0; */
    padding: 30px;
}

label {
    font-size: 20px;
}

div {
    margin-bottom: 30px;
}

button {
    background-color: black;
    color: white;
    border: 0;
    font-size: 12px;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 25px 0;
}

input,
textarea {
    border: 0;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    width: 250px;
}

input:valid,
textarea:valid {
    border-bottom-color: green;
}

input:invalid,
textarea:invalid {
    border-bottom-color: red;
}

select {
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    color: #666;
    -webkit-appearance: none;
    padding: 10px 0;
    width: 200px;
}

.select-wrapper {
    position: relative;
    width: 200px;
}

.select-wrapper::after {
    content: '< >';
    position: absolute;
    color: #666;
    z-index: -1;
    font-size: 14px;
    top: 8px;
    right: 0;
    transform: rotate(90deg);
}